extends common/layout
block content
    .container(style="margin-top:100px;")
       .col-md-12
           .panel.panel-default.room(ng-controller="RoomCtrl")
               .panel-heading.room-header
                   | technode
                   .panel-body.room-content
                       .list-group.messages(auto-scroll-to-bottom='auto-scroll-to-bottom')
                           .list-group-item.message(ng-repeat='message in messages') 某某：{{message}}
                       form.message-creator(ng-controller='MessageCreatorCtrl')
                           .form-group
                               textarea.form-control.message-input(required='required', ng-model='newMessage', ctrl-enter-break-line='createMessage()', placeholder='Ctrl+Enter to quick send')
block script
   script(src='vendor/socket.io/socket.io.js',type='text/javascript')
   script(src='vendor/jquery/dist/jquery.min.js',type='text/javascript')
   script(src='vendor/bootstrap/dist/js/bootstrap.min.js',type='text/javascript')
   script(src='vendor/angular/angular.min.js',type='text/javascript')
   script(src='vendor/angular-route/angular-route.js',type='text/javascript')
   script(src='js/index.js',type='text/javascript')
   script(src='js/services/socket.js',type='text/javascript')
   script(src='js/directives/auto-scroll-to-bottom.js',type='text/javascript')
   script(src='js/directives/ctrl-enter-break-line.js',type='text/javascript')
   script(src='js/controllers/room.js',type='text/javascript')
   script(src='js/controllers/messages-creator.js',type='text/javascript')
