doctype html
html(ng-app='technodeApp')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
  body
    block header
    block content
    block footer
    block script